<div class="main-content">
    <div class="container-fluid">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>PL</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="../../assets/img/tournament/vikas.jpg" class="profile-img" alt="">
                        Vikas
                    </td>
                    <td>5</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="" alt="">
                        Vikas
                    </td>
                    <td>5</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>