table{
}

th{
    background-color: #FB404B;
    color: #fff !important;
}

td{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
}

th,td{
    padding: 1.5% 4% !important;
    font-size: 13px;
}

.profile-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 6px;
}