<div class="main-content">
    <div class="container-fluid">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>PL</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fifa of fifaDetails; let i = index">
                    <td>{{i +1}}</td>
                    <td>
                        <img src="{{fifa.user_img}}" class="profile-img" alt="">
                        {{fifa?.user_name}}
                    </td>
                    <td>{{fifa?.fifa_played}}</td>
                    <td>{{fifa?.fifa_won}}</td>
                    <td>{{fifa?.fifa_draw}}</td>
                    <td>{{fifa?.fifa_lost}}</td>
                    <td>{{fifa?.points_fifa}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>