<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-card">
                    <img src="../../assets/img/tournament/vikas.jpg" alt="" class="profile-img">
                    <div class="card-body">
                        <h4>
                            Vikas
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="rankings">
                                    <b>Rankings:</b>
                                    <span>FIFA: 1</span> <span>NBA: 2</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches won</p>
                                <p><span class="success">5</span></p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches Lost</p>
                                <p><span class="danger">5</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-card">
                    <img src="../../assets/img/tournament/ajay.jpg" alt="" class="profile-img">
                    <div class="card-body">
                        <h4>
                            Ajay
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="rankings">
                                    <b>Rankings:</b>
                                    <span>FIFA: 1</span> <span>NBA: 2</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches won</p>
                                <p><span class="success">5</span></p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches Lost</p>
                                <p><span class="danger">5</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-card">
                    <img src="../../assets/img/tournament/harshul.jpg" alt="" class="profile-img">
                    <div class="card-body">
                        <h4>
                            Harshul
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="rankings">
                                    <b>Rankings:</b>
                                    <span>FIFA: 1</span> <span>NBA: 2</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches won</p>
                                <p><span class="success">5</span></p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches Lost</p>
                                <p><span class="danger">5</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-card">
                    <img src="../../assets/img/tournament/harshith.jpg" alt="" class="profile-img">
                    <div class="card-body">
                        <h4>
                            Harshith
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="rankings">
                                    <b>Rankings:</b>
                                    <span>FIFA: 1</span> <span>NBA: 2</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches won</p>
                                <p><span class="success">5</span></p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches Lost</p>
                                <p><span class="danger">5</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-card">
                    <img src="../../assets/img/tournament/sujay.jpg" alt="" class="profile-img">
                    <div class="card-body">
                        <h4>
                            Sujay
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="rankings">
                                    <b>Rankings:</b>
                                    <span>FIFA: 1</span> <span>NBA: 2</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches won</p>
                                <p><span class="success">5</span></p>
                            </div>
                            <div class="col-lg-6">
                                <p>Total Matches Lost</p>
                                <p><span class="danger">5</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>