<div class="main-content">
    <div class="container-fluid">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>PL</th>
                    <th>W</th>
                    <th>L</th>
                    <th>PS</th>
                    <th>PC</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nba of nbaDetails; let i = index">
                    <td>{{i +1}}</td>
                    <td>
                        <img src="{{nba.user_img}}" class="profile-img" alt="">
                        {{nba?.user_name}}
                    </td>
                    <td>{{nba?.nba_played}}</td>
                    <td>{{nba?.nba_won}}</td>
                    <td>{{nba?.nba_lost}}</td>
                    <td>{{nba?.nba_ps}}</td>
                    <td>{{nba?.nba_pc}}</td>
                    <td>{{nba?.points_nba}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>